
  *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(52,149,141,1) 0%, rgba(0,212,255,1) 100%);
  font-family: 'Times New Roman', Times, serif;
}
#form{
  width: 400px;
  margin: 2rem auto 1rem auto;
  background-color: white;
  border-radius: 5px; 
  padding: 30px ;
  box-shadow: 0 60px 80px rgba(0,0,0,0.60), 0 45px 26px rgba(0,0,0,0.14);
}
h1{
  text-align: center;
  color:  rgba(0,212,255,1);
}
#form button{
  background-color: rgb(59, 156, 217);
  color: #fff;
  border: 1px solid rgb(59, 156, 217);
  padding: 5px;
  margin: 20px 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  width: 100%;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.45) inset;
}
#form button:hover {
  background-color: rgb(47, 133, 191); 
}
.input-group{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.input-group input{
  border-radius: 5px;
  font-size: 20px;
  margin-top: 5px;
  padding: 3px;
  border: 1px solid rgb(59, 156, 217);
}
.input-group input:focus{
  outline: 0;
}
.input-group .error{
  color: rgb(227, 19, 19);
  font-size: 16px;
  margin-top: 5px;
}
.input-group.success input{
  border-color: rgb(128, 229, 128);
}
.input-group.error input{
  border-color: rgb(227, 19, 19);
}




 